{% extends 'layout.html' %}
{% block content %}
<form action ="/contacts" method="get" class="tool-bar">
  <label for="search" Search Term></label>
  <input id="search" type="search" name="q"
      value="{{ request.args.get('q') or '' }}"
      hx-get="/contacts"
      hx-trigger="search, keyup delay:200ms changed"
      hx-target="tbody"
      />
  <input type="submit" value="Search" />
</form>
<table>
  <thead>
    <tr>
      <th>First <th>Last <th>Phone <th>Email </th>
    </tr>
  </thead>
  <tbody>
    {% include 'rows.html' %}
    <!-- <tr>
      <td colspan="5" style="text-align: center">
        <span hx-trigger="revealed" hx-target="closest tr" hx-select="tbody > tr" hx-swap="outerHTML" hx-get="/contacts?page={{ page + 1 }}">
          Loading more...
        </span>
      </td>
    </tr> -->
  </tbody>
</table>
<div>
  <span style="float: right">
    {% if page > 1 %}
      <a href="/contacts?page={{ page - 1 }}">Previous</a>
    {% endif %}
    <a href="/contacts?page={{ page + 1 }}">Next</a>
  </span>
</div>
<p>
  <a href="/contacts/new">Add Contact</a>
</p>
{% endblock %}